.home_page{
  height: 100vh;
}

#homepage_container{
  background-image: url("/static/images/option.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right;
}

.home_page_content {
  margin-left: 15%;
}

.home_page_header{
 padding-top: 100px;
 text-align: left;
 color:  var(--header_orange);
 font-size: 75px;
 font-family: 'Permanent Marker', cursive;
}

.home_page_text{
  font-size: x-large;
  color: var(--dark-gray);
  margin-top: 25px;
  text-align: center;
  margin-left: -68%;

}

#learn_icon {
    width: 75px;
}

.learn_row {
  margin-top: 60px;
  margin-left: 3%;
}

#quiz_icon {
    width: 60px;
   
}

.quiz_row {
    margin-top: 20px;
    margin-left: 3%;
}

#homebuttons {
  font-size: 25px;
  border-radius: 10px;
  padding-left: 45px;
  padding-right: 45px;
  color:var(--dark-gray);
  width: 275px;

}
#homebuttons2 {
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 50px;
  padding-left: 50px;
  color:var(--dark-gray);
  /* width: 233px; */
  text-align: left;
}