

.home_page_content {
    margin-left: 175px;
}

.home_page_header {
    margin-top: 150px;
    text-align: center;
    color: var(--header_orange);
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.home_page_image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-top: 50px;
}

.home_page_text {
    font-size: x-large;
    text-align: center;
    color: var(--dark-gray);
    margin-top: 15px;
}

.button_row {
    margin-top: 50px;
}

.home_button {
    width: 220px;
    height: 60px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.home_button:hover {
    filter: brightness(85%);
}

#homebuttons {
    background-color: var(--header_orange);
    color: white;
    float: left;
}

#homebuttons2 {
    background-color: white;
    color: var(--dark-gray);
    float: right;
}
