@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    background-color: var(--background_blue);
}

.navbarheader {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.progress_buttons_container {

}

.progress_button {
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    color: var(--dark-gray);
}

.progress_button:disabled {
    opacity: 0.5;
}

.progress_button:hover {
    background-color: var(--header_orange);
    color: black;
}

.progress_button_left {
    float: left;
}

.progress_button_right {
    float: right;
}
