@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    background-color: var(--background_blue);
}

/*Navigation Bar*/

.navbar_container {
    width: 400px;
    margin: auto;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light-gray);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    margin-left: 50px;
    color: var(--light-gray);
}

/*Progress Buttons*/

.progress_button {
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    color: var(--dark-gray);
}

.progress_button:disabled {
    opacity: 0.5;
}

.progress_button:hover {
    background-color: var(--header_orange);
    color: black;
}

.progress_button_left {
    float: left;
}

.progress_button_right {
    float: right;
}
