/*General*/

.quiz_container {
    padding-top: 10px;
}

.question_header_number {
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}

.quiz_instructions {
    margin-top: 20px;
    color: var(--header_orange);
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.level_number {
    font-size: xxx-large;
    justify-content: center;
}

.level_instruction {
    font-size: xx-large;
    justify-content: center;
}

.quiz_question {
    color: var(--dark-gray);
    font-size: x-large;
}

.score {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: var(--dark-gray);
}

.quiz_button {
    width: 105px;
    justify-content: center;
    text-align: center;
}

/*Quiz 1*/

#level_1_question_header {
    margin-left: 10%;
}

#level_1_question {
    margin-left: 10%;
    margin-top: 5px;
}

#level_1_options {
    margin-left: 10%;
    margin-top: 10px;
    color: var(--dark-gray);
    font-size: x-large;
}

.incorrect_option {
    color: darkred;
    font-weight: bold;
}

.correct_option {
    color: green;
    font-weight: bold;
}

#quiz_lvl_1_submit {
    float: left;
    margin-left: 10%;
}

label {
    padding-left: 20px;
}

/*Quiz 2*/

.quiz_2_row {
    margin-top: 30px;
}

.quiz_2_photo{
  max-width: 100%;
  height: auto;
}

/* only for purple container for droppables  */
#cardSlots {
    width: fit-content;
}

/* for both orange and purple smaller boxes */
#cardSlots div, #cardPile div {
    width: 100px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 3px;
    background: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 23%;

}

#cardSlots div.hovered {
    background: #aaa;
}

/* only for purple smaller boxes */
#cardSlots div {
    border-style: dashed;
    background-color: rgba(208, 207, 207, 0.719);
    margin-left: -7px;
}

/*  only for orange smaller boxes */
#cardPile div {
    background-color: #FEEDD9;
    border-color: #FF9901;

}

.quizcard:hover {
    cursor: move;
}

/*  Quiz 3 */

.ui-widget-content {
    cursor: pointer;
}

.quiz_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#quiz_3_question_header {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: -20px;
}

#quiz_3_question_prompt {
    white-space: pre-line;
    text-align: center;
    justify-content: center;
}

.quiz_3_first_col {
    margin-top: 20px;
    margin-left: 30px;
}

.main_row_quiz_3 {
    justify-content: center;
}

.submission_row_quiz_3 {
    justify-content: center;
}

.question_submit {
    text-align: center;
}

.submit_box {
    margin-left: 60px;
}

.submit_format {
    color: #797573;
    background-color: rgb(231, 231, 231);
}

.submit_btn {
    background-color: #fce3c1;
    color: #f67f00;
    border: solid 1px #ce7c24;
}

.options_div {
    padding: 40px 25px;
    font-size: 18px;
}

.options_format {
    margin: 10px 10px;
}

.options_box {
    text-transform: uppercase;
    color: #bf9000;
    background: #fff2ccff;
    font-weight: bold;
    justify-content: center;
}

.drag_box {
    width: 180px;
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 6px 12px;
    border: 2px solid black;
    height: auto;
}

#level_3_score_div {
    margin-top: -10px;
    margin-left: 20px;
}

.answer_response {
    text-align: center;
    margin: 20px auto;
    justify-content: center;
    font-size: x-large;
}

#submission-results {
    color: green;
}

#submission-inc-results {
    color: red;
}

.correct{
  background-color:rgb(149, 212, 149) !important;
  color: darkgreen !important;
  border: solid darkgreen !important;
}

.incorrect{
  background-color: rgb(237, 183, 183) !important;
  color: red !important;
}
