.team_layout_container {
    justify-content: center;
}


.team_layout_text {
    color: var(--dark-gray);
    margin: -10px auto;
    text-align: center;
    font-size: x-large;
    padding-bottom: 30px;
}

#team_layout_image {
    width: 750px;
    height: auto;
    margin-left: 200px;
}



