
.home_cont{
   height: 100vh;
  /* background-color: #eceffc;
   */
   /* background-color: #EEE6F0; */
   background-color: #D3E7EE;
}

.Home_title{
 padding-top: 10px;
 text-align: center;
 color:  #FC814A;
 font-size: 75px;
 font-family: 'Permanent Marker', cursive;

}

.correct{
  background-color:lightgreen !important;
  color: darkgreen !important;
  
}

.incorrect{
  background-color: rgb(237, 183, 183) !important;
  color: red !important;
}

.homepage_first_row{
  justify-content: center;
  align-items: center;
}
.homepage_text {
  color: #797573;
  margin-left: 50%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 15px;
  background-color: #fce5cd;
  border-radius: 13% 13% 13% 13% / 30% 30% 30% 30%;
  width:fit-content;
  height: fit-content;
  align-items: center;
  border: 15px solid FCE5CD;

}
.homepage_video{
  padding-top: 7px;
  justify-content:right;
  background-image: url(https://i.ibb.co/HP30wtd/Picture1.png);
   background-repeat: no-repeat;
   background-size: 162px;
   background-position-x: -16px;
   background-position-y: -2px;
  padding-right: 50px;

}

.strategies_row {
  margin-top: 55px;
  justify-content: center;
}
.quiz_row {
  justify-content: center;
}
#homebuttons {
  font-size: 25px;
  border-radius: 10px;
  padding-left: 45px;
  padding-right: 45px;
  color:#797573;

}
#homebuttons2 {
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 50px;
  padding-left: 50px;
  color:#797573;
}
.strategy_pic_row {
  padding-top: 15px;
}
#strategy_picture {
  width: 600px;
  height: auto;
  text-align: center;
}
#strategy_picture_image{
  width: 800px;
  height: auto;
}
.strategy_button_row {
  margin-top: 55px;
}
.second_page_div{
  margin-left: 250px;
}
#see_it_in_action {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 50px;
}
/* Learning part I */
.learn_first_row{
  padding-top: 35px;
  margin-left: -30px;
}
#back_button_for_learn{
 text-align: center;
}

#first_row_learning{
  margin-top: 20px;
}
#titles_div{
  text-align: center;
}

#you_are_column{
  text-align: right;
  margin-left: 100px;
  margin-top: 50px;
}
#strategy_column_learn{
  margin-left: 60px;
  /* align-items: center;
  align-items: flex-end;
  text-align: end; */
}
#learn1 {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#learn {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}

/* Quiz */
#gotoquiz {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#back{
  font-size: 25px;
  border-radius: 10px;
  padding: 2.5px 15px 2.5px 15px;
}
.title{
  text-align: center;
  font-size: 50px;
  color: #FF5723;
}
.infograophicssize{
  padding: 10px;
  text-align: right;
}
.textinfo {
  text-align: center;
  font-weight: bold;
}
.summary{
  text-align: center;
}
.subhead {
  text-align: center;
  font-size: 50px;
  color:#FE9C7E;
}
.demands {
  text-align: left;
}
#inaction_text{
  color: #797573;
  background-color: #fce5cd;
  border-radius: 5px;
  width:fit-content;
  height: fit-content;
  padding-left: 15px;
  padding-top: 15px;
  justify-content: center;
  margin-left: 40px;
  font-size: 14px;
  margin-top: 20px;
  
}
.audio_row{
  justify-content: center;
  margin-top: 10px;
}
#button_row_inaction{
  padding-left: 175px;
  padding-top: 45px;
}
.pictureformat{
  max-width: 100%;
  height: auto;
}

.incorrect_option{
  color: darkred;
  font-weight: bold;
}

.correct_option{
  color: green;
  font-weight: bold;
}

/*For Quiz*/
#quiz_container {
  padding-top: 10px;
  background-color: #D3E7EE;
  height: 100vh;
  
}

#quiz_intertile_container {
  /* width:max-content; */
  padding-top: 5px;
  height: 100vh;
  background-color: #cbe6ef63 ;
  background-image: url("/static/images/volley_trophy.png");
  background-size: 190px;
  background-repeat: no-repeat;
  background-position: 140px;
  background-attachment: scroll;
  
}

.question_instructions {
  color: darkorange;
  font-size: 35px;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
}

.level_no {
  /* font-weight: bold;
  font-size: 35px;
  text-align: center;
  justify-content: center;

  align-items: center; */
}

#class_level_sentence{
  color: darkorange;
  font-size: 39px;
  justify-content: center;
  font-family:'Caveat Brush', cursive;

  
}

.question_no {
  font-weight: bold;
  font-size: xx-large;
  /* margin-left: 10px; */
  text-align: center;
  justify-content: center;
}

#quiz_intertile_body {
  color: rgb(98, 97, 97);
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 70px;
  
}

#quiz_intertile_header {
  color: darkorange;
  font-weight: bold;
  font-size: 55px;
  font-family:'Permanent Marker', cursive;
  text-align: center;
}

#intertile_img{
  height: 150px;
  width: auto;
  justify-content: left;
  align-items: left;
  text-align: left;
}

/* not sure if needed */
.quiz_text {
  font-size: x-large;
}

label {
  padding-left: 20px;
}

.level_1_question_header_number{
  font-weight: bold;
  font-size: xx-large;
  margin-left: 10%;
  margin-top: 20px;
}

#level_1_question{
  margin-left: 10%;
  margin-top: 5px;
 
}
#level_1_options {
  margin-left: 10%;
  margin-top: 10px;
}

.quiz_buttons {
    margin-left: 20%;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
    color:  #7f5e94;
    background-color: #eceffc ;
}

.quiz_button_1 {
    float: left;
    margin-left: 10%;
}
.quiz_button_1_next{
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
    color:  #7f5e94;
    background-color: #eceffc ;
    float:right;
    margin-right: 10%;
  
}
.quiz_button_2 {
    float: right;
    margin-right: 7%;
    margin-top: 17%;
}

.score {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  color: #4f4d50;
}

.quiz_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.question_prompt {
  white-space:pre-line;
}

.column_for_picture_quiz_2{
  margin-left: 70px;
  margin-right: 50px;
}
.quiz_2_photo{
  float: left;
  
}
.pictureformat{
  width: 120%;
}

.gif_format{
  width: fit-content;
}

.ui-widget-content{
  cursor: pointer;
}

#learn_icon{
  width: 120px;

}

#quiz_icon{
  width: 60px;
}

#titles_drags{
  text-align: center;
  background-color: lightgray;
}

.quiz_2_row{
  margin-top: 50px;
}

#level_2_score_div{
  /*margin-top: 10px;*/
  /*text-align: center;*/
  /*color: #7f5e94 ;*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
}

.options_div{
  padding: 40px 25px;
  font-size: 18px;
}

.options_box{
  margin: 10px 10px;
  color: #bf9000;
  background: #fff2ccff;
  font-weight: bold;
}

.submit_box {
  max-width: 100%;
  color: #797573;
}

.drag_box {
  width: 180px;
  font-size: 16px;
  border-radius: 0.25rem;
  padding: 6px 12px;
  border: 2px solid black;
  height: auto;
}

.submit_btn{
}

/* Main content area */

#quiz2content {
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  /* margin: 70px; */
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  /* margin: 20px; */
  color: #666;
  font-size: 1.5em;
}


/* only for purple container for droppables  */
#cardSlots {
  width: fit-content;
}


/* container for roles */
#cardPile {
  margin-right: 20px;

}


/* for both orange and purple smaller boxes */
#cardSlots div, #cardPile div {
  width: 100px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-bottom: 3px;
  background: #fff;
  text-align:center;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 23%;
  
}

#cardSlots div.hovered {
  background: #aaa;
}

/* only for purple smaller boxes */
#cardSlots div {
  border-style: dashed;
  background-color: rgba(208, 207, 207, 0.719);
}

/*  only for orange smaller boxes */
#cardPile div {
  background-color: #FEEDD9;
  border-color: #FF9901;
  
}

/* "You did it!" message */
/* #successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: rgba(82, 144, 82, 0.783);
  border: 2px solid rgba(82, 144, 82, 0.783);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
} */

.congrats_text {
  text-align: center;
  margin: auto;
  font-size: xxx-large;
  font-weight: bold;
  color: gray;
}

.orange {
  color: darkorange;
}

.final_score {
  margin: auto;
  font-size: 16px;
  border-radius: 0.25rem;
  padding: 6px 12px;
  height: auto;
  color: #bf9000;
  background: #fff2ccff;
  font-weight: bold;
  text-align: center;
  width: 50%

}

.final_text {
  padding: 140px 15px;
}
