.container-fluid {
  background-color: #f8f8fa;
}

.homepage_text {
  color: #797573;
  margin-top: 50px;
  margin-left: 150px;
  /* padding: 15px; */
  padding-left: 25px;
  padding-right: 15px;
  background-color: #fce5cd;
  border-radius: 13% 13% 13% 8% / 30% 30% 0% 30%;
  width: 470px;
  height: 200px;
  align-items: center;
  border: 15px solid FCE5CD;
}

.strategies_row {
  margin-top: 175px;
  justify-content: center;
}
.quiz_row {
  justify-content: center;
}
#homebuttons {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#homebuttons2 {
  font-size: 25px;
  border-radius: 10px;
  padding: 14px;
  padding-right: 55px;
  padding-left: 55px;
}
.strategy_pic_row {
  padding-left: 150px;
  padding-top: 30px;
}
#strategy_picture {
  width: 700px;
  height: auto;
}
.strategy_button_row {
  margin-top: 85px;
}
#see_it_in_action {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#learn1 {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}