.container-fluid {
  background-color: #f8f8fa;
}
/* .home_cont{
  background-color: #eceffc;
} */

.Home_title{
  padding-top: 20px;
 text-align: center;
 color: #FD9800;
 font-size: 75px;
 font-family: 'Cinzel Decorative', cursive;
}

.correct{
  background-color:lightgreen !important;
  color: darkgreen !important;
  
}

.incorrect{
  background-color: rgb(237, 183, 183) !important;
  color: red !important;
}

.homepage_first_row{
  justify-content: center;
  align-items: center;
}
.homepage_text {
  color: #797573;
  margin-left: 50%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 15px;
  background-color: #fce5cd;
  border-radius: 13% 13% 13% 8% / 30% 30% 0% 30%;
  width:fit-content;
  height: fit-content;
  align-items: center;
  border: 15px solid FCE5CD;

}
.homepage_video{
  padding-top: 80px;
  justify-content: end;
}
.strategies_row {
  margin-top: 55px;
  justify-content: center;
}
.quiz_row {
  justify-content: center;
}
#homebuttons {
  font-size: 25px;
  border-radius: 10px;
  padding-left: 45px;
  padding-right: 45px;
  color:#797573;

}
#homebuttons2 {
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 50px;
  padding-left: 50px;
  color:#797573;
}
.strategy_pic_row {
  padding-top: 15px;
}
#strategy_picture {
  width: 600px;
  height: auto;
  text-align: center;
}
#strategy_picture_image{
  width: 800px;
  height: auto;
}
.strategy_button_row {
  margin-top: 55px;
}
#see_it_in_action {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 50px;
}
#learn1 {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#learn {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#gotoquiz {
  font-size: 25px;
  border-radius: 10px;
  padding: 15px;
}
#back{
  font-size: 25px;
  border-radius: 10px;
  padding: 2.5px 15px 2.5px 15px;
}
.title{
  text-align: center;
  font-size: 50px;
  color: #FF5723;
}
.infograophicssize{
  padding: 10px;
  text-align: right;
}
.textinfo {
  text-align: center;
  font-weight: bold;
}
.summary{
  text-align: center;
}
.subhead {
  text-align: center;
  font-size: 50px;
  color:#FE9C7E;
}
.demands {
  text-align: left;
}
#inaction_text{
  color: #797573;
  background-color: #fce5cd;
  border-radius: 5px;
  width:fit-content;
  height: fit-content;
  padding-left: 15px;
  padding-top: 15px;
  justify-content: center;
  margin-left: 40px;
  font-size: 14px;
  margin-top: 20px;
  
}
.audio_row{
  justify-content: center;
  margin-top: 10px;
}
#button_row_inaction{
  padding-left: 175px;
  padding-top: 45px;
}
.pictureformat{
  max-width: 100%;
  height: auto;
}

.incorrect_option{
  color: darkred;
  font-weight: bold;
}

.correct_option{
  color: green;
  font-weight: bold;
}

/*For Quiz*/
#quiz_container {
  margin: auto;
  width: 60%;
  padding-top: 20px;
}

#quiz_intertile_container {
  margin: auto;
  width: 60%;
  padding-top: 50px;
}

.question_instructions {
  color: darkorange;
  font-size: xx-large;
  justify-content: center;
}

.level_no {
  font-weight: bold;
}

.question_no {
  font-weight: bold;
  font-size: xx-large;
}

#quiz_intertile_body {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

#quiz_intertile_header {
  color: darkorange;
  font-weight: bold;
  font-size: xx-large;
}

.quiz_text {
  font-size: x-large;
}

label {
  padding-left: 20px;
}

#level_1_options {
  padding-left: 40px;
}

.quiz_buttons {
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
}

.quiz_button_1 {
    float: left;
}

.quiz_button_2 {
    float: right;
}

#level_1_score_div {
    text-align:center;
    font-weight: bold;
}

.color_test {
}

.quiz_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.question_prompt {
  white-space:pre-line;
}


.quiz_2_photo{
  float: left;
}
.pictureformat{
  width: 120%;
}

.ui-widget-content{
  cursor: pointer;
}

#learn_icon{
  width: 120px;

}

#quiz_icon{
  width: 60px;
}

#titles_drags{
  text-align: center;
  background-color: lightgray;
}

.quiz_2_row{
  margin-top: 50px;
}

.quiz_button_2{
  color:  #7f5e94;
  background-color: #eceffc ;
  float: right;
  padding: 5px;
  border-radius: 5px;
}

#level_2_score_div{
  margin-top: 10px;
  text-align: center;
  color: #7f5e94 ;
  font-weight: bold;
  font-size: 20px;
}

.options_div{
  padding: 40px 25px;
  font-size: 18px;
}

.options_box{
  margin: 10px 10px;
  color: #bf9000;
  background: #fff2ccff;
  font-weight: bold;
}

.submit_box {
  max-width: 100%;
  color: #797573;
}

.drag_box {
  width: 180px;
  font-size: 16px;
  border-radius: 0.25rem;
  padding: 6px 12px;
  border: 2px solid black;
  height: auto;
}

.submit_btn{
}

/* Main content area */

#quiz2content {
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  /* margin: 70px; */
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  /* margin: 20px; */
  color: #666;
  font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
  /* margin: 50px auto 0 auto; */
  background: #ddf;
}

/* The initial pile of unsorted cards */

#cardPile {
  
  background: #ffd;
}

#cardSlots, #cardPile {
  width: 250px;
  height: fit-content;
  padding: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
  float: left;
  width: 58px;
  height: 58px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}

#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div {
  border-style: dashed;
}

#cardPile div {
  background: rgb(162, 161, 161);
  color: #fff;
  font-size: 9px;
  text-shadow: 0 0 1px #000;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: min-content;
  

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; }
#card6.correct { background: cyan; }


/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: rgba(64, 159, 64, 0.598);
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}

