{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'nextpage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'learning.js') }}"></script>
    <script>
        let contents = {{ contents|tojson }};
    </script>

    <link rel="stylesheet" href="/static/css/learn.css">

    <div class="learn_page">
        {% include "learn_sidebar.html" %}
        <div class="container learn_container">
            <div id="header" class="learn_header">
                Gameplay
            </div>
            <div class="row learn_content_container">
                <div class="col-md-6">
                    <img src="https://i.ibb.co/zrkXLnP/ezgif-com-gif-maker.gif"
                         id="strategy_picture"
                         alt="volleyball animation"
                         class="learn_content_image">
                </div>
                <div class="col-md-6 learn_content_text" id="gameplay_text">
                    <div class="learn_content_text_summary">
                        ➜ One team serves the ball over the net to the opposing team<br>
                        ➜ Serve is received (usually by the Libero)<br>
                        ➜ Then, the receiving team has up to <strong>three touches</strong> before sending the ball back
                        over the net
                        to continue the game.<br>
                        ➜ Either team makes a <b>kill</b>, by grounding the ball on the opponent’s court, scoring a
                        point.
                    </div>
                </div>
            </div>
            <div class="row progress_buttons_container">
                <div class="col-md-6">
                    <button id="team_layout"
                            class="progress_button progress_button_left"
                            href="/team_layout">
                        <i class="fa-solid fa-arrow-left"></i>Team Layout
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="learn1"
                            class="progress_button progress_button_right"
                            href="/learn/1/1">
                        Role 1: Setter
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}