
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home_page.js') }}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
 

<div class="container-fluid home_cont">
    <div class="Home_title">
        Volleyball
    </div>
    <div class="row homepage_picture">
        <!-- <img class="volley_homepic" src="/static/images/boys_playing_v.png"> -->
        <!-- <img class="volley_homepic" src="/static/images/volleyball_blue_player.png"> -->
    </div>
    <div class="row strategies_row">
        <button type="button" id="homebuttons">Learn 
        <img id="learn_icon" src="https://i.ibb.co/L5L2NYG/volleyball-player-2931915-2464052.png">
    </button>
    </div>
    <p></p>
    <div class="row quiz_row">
        <button type="button" id="homebuttons2">Challenge 
            <img id="quiz_icon" src="https://i.ibb.co/JpBWk63/challenge.png">
        </button> 
    </div>
    <br>
</div>


{% endblock %}