
{% extends "layout.html" %}

{% block content %}

<script></script>

  
    <div class="row homepage_text">
        ➜ Played by two teams of six players on each side <br>
        ➜ Players use their hands to bat a ball back and forth over a high net<br>
        ➜ Score by trying to make the ball touch the court within the opponent's’ side before it can be returned. <br>
        ➜ Strategies work by designing roles and positions to the players who should work as a team to win the game.</br></br></br>        
    </div>
    <div class="row homepage_video">
        
    </div>
    <div class="row strategies_row">
        <button type="button homebuttons">Learn Volleyball Strategies</button> 
    </div>
    <p></p>
    <div class="row quiz_row">
        <button type="button homebuttons">Challenge Yourself</button> 
    </div>




{% endblock %}