{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'home_page.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">



    <div class="container-fluid home_page" id="homepage_container">
        <div class="row">
            <div class="home_page_content col-md-4">
                <div class="home_page_header">
                    Volleyball
                </div>
                <div class="home_page_text">
                    Learn about roles and positions <br> to build a strategy to win a volleyball match!
                </div>
                <div class="row button_row">
                    <div class="col-md-6">
                        <button type="button"
                                id="homebuttons"
                                class="home_button">
                            <i class="fa-solid fa-volleyball"></i> Start Learning
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button"
                                id="homebuttons2"
                                class="home_button">
                            <i class="fa-solid fa-award"></i> Quiz Yourself
                        </button>
                    </div>
                </div>

            </div>
            <div class="home_page_image col-md-6">
                                    <img src="/static/images/learning/volleyball_players_homepage.png"
                         id="strategy_picture"
                         alt="volleyball animation"
                         class="learn_content_image">
            </div>

        </div>

    </div>

{% endblock %}