{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'learning.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'sidebar.js') }}"></script>

    <link rel="stylesheet" href="/static/css/learn.css">

    <script>
        let lesson = {{lesson|tojson}};
        let lesson_id = {{lesson_id|tojson}};
        let contents = {{ contents|tojson }};
    </script>

    <div class="learn_page">
        {% include "learn_sidebar.html" %}
        <div class="container learn_container">
            <div id="header" class="learn_header">
                {{ lesson.title }}
            </div>
            <div class="row learn_content_container">
                <div class="col-md-6 learn_content_text">
                    <div class="learn_content_text_header">
                        Strategic Demands
                    </div>
                    <div class="learn_content_text_summary">
                        <ul>
                            {% for demand in lesson.demands %}
                                <li>
                                    {{ demand }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src='{{ lesson.gif }}'
                         alt='Gif of volleyball play'
                         class="learn_content_image">
                </div>
            </div>
            <div class="row buttons_container">
                <div class="col-md-6">
                    <button id="learn_prev_btn"
                            class="learn_button learn_button_left">
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="learn_next_btn"
                            class="learn_button learn_button_right">
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}