{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript" src="/static/quiz_intertitle.js"></script>
    <link rel="stylesheet" href="/static/css/quiz_intertitle.css">


    <script>
        let level = {{ level | tojson }};
        let score = {{ score | tojson }};
        let total = {{ total | tojson }};
    </script>

    <div id="quiz_intertile_container" class="container">
        <div class=" learn_header">
            Level Completed
        </div>
        <div id="quiz_intertile_photo">
            <img src="/static/images/volley_trophy.png"
                 id="quiz_intertitle_image"
                 alt="Volleyball Trophy">
        </div>
        <div class="quiz_intertitle_star_div">

        </div>
        <div id="quiz_intertile_score">
            Score : {{ score }} / {{ total }}
        </div>
        <button id="quiz_intertile_button" class="progress_button progress_button_right"></button>
    </div>

{% endblock %}