{% extends "layout.html" %}
{% block content %}

        <script>
        let score = {{ score | tojson }};
    </script>

    <div id="quiz_intertile_container" class="container">
    <br>
        <br>
        <div id="quiz_intertile_header">
            Level Completed
        </div>
        <div id="quiz_intertile_body">
            Score : {{ score }} / 5
        </div>
        <br>
        <button id="quiz_intertile_button_1" href="quiz" class="quiz_buttons quiz_button_1">Replay {TBD} </button>
        <button id="quiz_intertile_button_2" class="quiz_buttons quiz_button_2">In Construction</button>
    </div>

{% endblock %}