{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_level_2.js') }}"></script>
    <link rel="stylesheet" href="/static/css/quiz.css">

    <script>
        let totalquizscore = {{ totalquizscore | tojson }};
    </script>

    <div class="container quiz_container ">
        <div id="level_2_question_instructions" class=" quiz_instructions">
            <div id="level_2" class="row level_number">
                LEVEL 2:
            </div>
            <div class="row level_instruction" >
                Match the player to its number
            </div>
        </div>


        <div class="row quiz_2_row ">
            <div class="col-md-8 " id="quiz_2_photo">
                <img class="quiz_2_photo" src="/static/images/quiz_level_2.png">
            </div>

            <div class="col-md-2" id="cardPile"></div>
            <div class="col-md-2" id="cardSlots"></div>
        </div>
        <br>
        <br>
        <div id="level_2_score_div" class="score">
            Score : 0/6
        </div>
        <div class="row progress_buttons_container">
            <div class="col-md-12 next_container">

            </div>
        </div>
        <div class="col-md-12">

        </div>
    </div>

{% endblock %}





