{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="/static/quiz_final_score.js"></script>
    <link rel="stylesheet" href="/static/css/quiz.css">
    <link rel="stylesheet" href="/static/css/quiz_intertitle.css">

    <script>
        let score_lvl_1 = {{score_lvl_1}};
        let score_lvl_2 = {{score_lvl_2}};
        let score_lvl_3 = {{score_lvl_3}};
        let total_score = {{total_score}};
    </script>

    <div class="container quiz_container">

        <div id="final_question_instructions" class=" quiz_instructions">
            <div id="final" class="row level_number">
                CONGRATULATIONS!
            </div>
            <div class="row level_instruction">
                You mastered all three levels
            </div>
        </div>

        <div class="row final_quiz_row_1">
            <div class="col-md-7 ">

                <div class="level_1_final_score final_score_levels">
                    LEVEL 1: {{ score_lvl_1 }}/5
                </div>
                <p>
                <div class="level_2_final_score final_score_levels">
                    LEVEL 2: {{ score_lvl_2 }}/6
                </div>
                <p></p>
                <div class="level_3_final_score final_score_levels">
                    LEVEL 3: {{ score_lvl_3 }}/5
                </div>
                <p></p>
                <div class="final_score">
                    TOTAL SCORE: {{ total_score }}/16
                </div>
            </div>
            <br>
            <div class="col-md-5">
                <img class="quiz_img"
                     src="/static/images/dancing-volleyball-player.png"
                     alt="Celebratory Volleyball Player">
            </div>
        </div>

        <div class="row progress_buttons_container">
            <div class="col-md-6">
                <button id="replay"
                        class="progress_button progress_button_left quiz_button">
                    Replay
                </button>
            </div>
            <div class="col-md-6">
                <button id="3_home"
                        class="progress_button progress_button_right quiz_button">
                    Home
                </button>
            </div>
        </div>
    </div>

{% endblock %}
