{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_level_2.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_2_alternative.js') }}"></script> -->
  
    <script>
        let totalquizscore = {{ totalquizscore | tojson }};

    </script>
    <div class="container-fluid" id="quiz_container">
    <br>
        <div class="row question_instructions">
            <span id="level_1">
                <b>LEVEL 2 </b>-
            </span>
           MATCH THE PLAYER TO ITS ROLE
        </div>
        <br>
        <div class ="row quiz_2_row flex-nowrap">
            <div class="col-md-6" id="quiz_2_photo">
                <img class="pictureformat" src="https://i.ibb.co/mySpg0L/QUIZ2.png"> 
            <!-- I changed the image size but definitely add a different class to resize how you desire -->
            </div>
    
            <!-- <div class="row" id="quiz2content"> -->
                    <div class="col-md-3" id="cardPile"> </div>
                    <div class="col-md-3" id="cardSlots"> </div>
            <!-- </div> -->
        </div>
        <br>
        
        <div id="level_2_score_div" class="score">
            
            Score : 0/6
        </div>
        <br>
        <div class="newbtn row float-right">
            
        </div>
        <br>
</div>

{% endblock %}





