{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
    <script>
        let question = {{ question | tojson }};
            console.log(question)
        let question_id = {{ question_id | tojson }};
            {#console.log(question_id)#}
    </script>


    <div id="quiz_container" class="container-fluid">
        <br>
        <div id="level_1_question_instructions" class="row question_instructions">
            <div id="level_1" class="level_no">
                LEVEL 1  
            </div>
        </div>
            <!-- <br> -->
        <div class="row" id="class_level_sentence">
                <!-- SELECT THE CORRECT ANSWER FROM THE OPTIONS: -->
                Select the correct answer from the options:
        </div>
    
        <div id="level_1_question_header" class="row level_1_question_header_number">
        </div>
        <div class="row" id="level_1_question">
        </div>
        <div id="level_1_options">
        </div>
        <br>
        <div id="level_1_score_div" class="score">
            Score :
            <span id="level_1_score" >

            </span>
        </div>
        <!-- <div class="quiz_buttons_alignment"> -->
        <button id="submit_1" class="quiz_buttons">Submit</button>
        <div class="quiz_1_next_button"></div>
        <!-- </div> -->
        <br>
        <br>
        <br>
    </div>

{% endblock %}