{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_level_2.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_2_alternative.js') }}"></script> -->
  

    <div id="quiz_container" class="container level_1_text">
    <br>
        <div class="row question_instructions">
            <span id="level_1">
                <b>LEVEL 2 </b>-
            </span>
           MATCH THE PLAYER TO ITS ROLE
        </div>
        <br>
        <div class ="row quiz_2_row">
            <div class="col-md-6" id="quiz_2_photo">
                <img class="pictureformat" src="https://i.ibb.co/mySpg0L/QUIZ2.png"> 
            <!-- I changed the image size but definitely add a different class to resize how you desire -->
            </div>
            <div class="col-md-4" id="quiz_2_roles_first">
                <!-- 1<p>
                2<br>
                3<br>
                4<br>
                5<br>
                6 -->
            </div>
            <div class="col-md-4" id="quiz_2_roles_second">
                <!-- <ul id="sortable">
                    <li id="blocker" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Middle Blocker</li>
                    <li id="opposite" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Opposite Hitter (rightside)</li>
                    <li id="outside left" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Outside Hitter (left)</li>
                    <li id="outside" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Outside Hitter</li>
                    <li id="libero" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Libero</li>
                    <li id="setter" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Setter</li>
                    
                  </ul> -->
            </div>
            
        </div>
        <div class="row float-right">
            <button id="submit" class="quiz_button_2">Submit</button>
        </div>
        <br>
        <div id="level_2_score_div">
            Score :
        </div>
        <br>
</div>

{% endblock %}