
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'nextpage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'teamlayout.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'sidebar.js') }}"></script>
    <script>
        let contents = {{ contents|tojson }};
    </script>

    {% include "learn_sidebar.html" %}

<div class="container-fluid home_cont">
            <div id="header" class="learn_header">
                Team Layout
            </div>
    <div class ="row strategy_pic_row justify-content-center">
        
        <div class="second_page_div">
            <div class="descript_team_layout">
                Volleyball is played by <b>two teams</b> of <b>six players</b> on each side
            </div>
            <img src="https://i.ibb.co/Km87bdh/setup.png" id="strategy_picture_image" alt="team layout">
            <!-- <div class="descript_team_layout">* Played by two teams of six players on each side </div> -->
        </div>
    </div>
    <div class="row strategy_button_row justify-content-center">
        <button type="button" id="see_it_in_action">See It In Action ➜</button> 
    </div>
</div>



{% endblock %}