{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'nextpage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'team_layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'learning.js') }}"></script>
    <link rel="stylesheet" href="/static/css/team_layout.css">

    <script>
        let contents = {{ contents|tojson }};
    </script>


    <div class="learn_page">
        {% include "learn_sidebar.html" %}
        <div class="container learn_container">
            <div id="header" class="learn_header">
                Team Layout
            </div>
            <div class="row learn_content_container justify-content-center">
                <div class=" team_layout_container">
                    <div class="team_layout_text">
                        Volleyball is played by <b>two teams</b> of <b>six players</b> on each side
                    </div>
                    <img src="https://i.ibb.co/JFP8sNQ/new-layout.png"
                         id="team_layout_image"
                         alt="Team Layout">
                </div>

            </div>
            <div class="row progress_buttons_container justify-content-center">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">

                    <button type="button"
                            id="see_it_in_action"
                            class="progress_button progress_button_right">
                        See It In Action ➜
                    </button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}