
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'nextpage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'teamlayout.js') }}"></script>
<div class="container-fluid home_cont">
    <div class="row no-gutters" id="button_row_inaction">
        <button type='button' id='goback'>←</button>
    </div>
    <div class ="row strategy_pic_row justify-content-center">
        <div class="second_page_div">
            <img src="https://i.ibb.co/Km87bdh/setup.png" id="strategy_picture_image" alt="team layout">
        </div>
    </div>
    <div class="row strategy_button_row justify-content-center">
        <button type="button" id="see_it_in_action">See It In Action ➜</button> 
    </div>
    <br>
    <br>
    <br>
</div>



{% endblock %}